<?php
/**
 * View script for displaying the contact form
 */

$this->headTitle()->prepend('Contact Us');

$form = $this->form;

// Make labels line up nice
$form->setAttribute('class', 'form-horizontal');

foreach($form->getElements() as $element) {
	// Give labels the correct class
	$element->setLabelAttributes(array(
		'class' => 'control-label'
	));
	// Make inputs occupy full-width and add toolTip class
	$element->setAttribute('class', trim($element->getAttribute('class').' toolTip input-block-level'));
}

// Style error message lists
$errors = $this->plugin('formElementErrors');
$errors->setAttributes(array(
	'class' => 'text-error unstyled',
));

?>

<div class="well well-large">

	<?php if(isset($this->error)) { ?>
	<h1 class="text-error">Whoops...</h1>
	<div class="alert alert-block">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<strong>Form Errors:</strong> Please check the information you entered in the contact form; either you missed something out or one of the values isn't quite right
	</div>
	<?php } else { ?>
	<h1>Contact Us</h1>
	<p>Drop us a line quickly by filling in this form</p>
	<?php } ?>

	<?php echo $this->form()->openTag($form); ?>


		<div class="control-group">
			<?php echo $this->formLabel($form->get('fromName')); ?> 
			<div class="controls">
				<?php echo $this->formInput($form->get('fromName')); ?> 
				<?php echo $this->formElementErrors($form->get('fromName')); ?> 
			</div>
		</div>

		<div class="control-group">
			<?php echo $this->formLabel($form->get('email')); ?> 
			<div class="controls">
				<?php echo $this->formEmail($form->get('email')); ?> 
				<?php echo $this->formElementErrors($form->get('email')); ?> 
			</div>
		</div>

		<div class="control-group">
			<?php echo $this->formLabel($form->get('message')); ?> 
			<div class="controls">
				<?php echo $this->formTextArea($form->get('message')); ?> 
				<?php echo $this->formElementErrors($form->get('message')); ?> 
			</div>
		</div>

		<?php if($cap = $form->get('captcha')) { ?> 
		<div class="control-group">
			<?php echo $this->formLabel($cap); ?> 
			<div class="controls">
				<?php echo $this->formCaptcha($cap); ?> 
				<?php echo $this->formElementErrors($cap); ?> 
			</div>
		</div>
		<?php } ?>


		<div class="form-actions">

		<?php
		$submit = $form->get('submitContact');
		$class = trim($submit->getAttribute('class').' btn btn-primary btn-large');
		$submit->setAttribute('class', $class);
		echo $this->formInput($submit);
		echo $this->formElementErrors($submit);
		?>

		</div>

	<?php echo $this->form()->closeTag(); ?>

</div>

<script type="text/javascript">
	if(typeof $ === 'function') {
		// Tooltips
		if(typeof $('body').tooltip === 'function') {
			$('.toolTip').tooltip({
				'placement' : 'right'
			});
		}
		// Add error class to errored control groups
		$(function() {
			$('ul.text-error').each(function(index, el) {
				var grp = $(el).parents('.control-group').addClass('error');
			});
		});
	}
</script>