<?php
/**
 * View script for displaying a thank you message after completion of the contact form
 */

$this->headTitle()->prepend('Thank you for your Message');

?>

<h1>Thank you for your message</h1>

<p>Nice one! Message received!</p>